.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background-color: var(--border-color);
    border: 3px solid var(--button-border);
    outline: 3px solid var(--button-outline);
}

.card-game img {
    width: 100%;
}