.initial-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    text-shadow: var(--text-shadow-color) 0 3px;
}

.initial-overlay-input {
    margin-top: 50px;
    width: 250px;
    font-size: .1em;
}

.initial-overlay-input > input {
    background-color: transparent;
    width: 100%;
    margin-bottom: 30px;
    display: block;
    border: none;
    text-align: center;
    border-bottom: 2px dashed gray;
    outline: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.initial-overlay-button {
    margin-top: 50px;
    display: flex;
    min-width: 200px;
    font-size: .2em;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 0px;
    color: white;
    text-shadow: var(--text-shadow-color) 0 2px;
    background-color: var(--button-bg-color);
    border: 3px solid white;
    outline: 3px solid var(--button-outline);
    padding: 10px;
    cursor: pointer;
}

.initial-overlay-input > img {
    width: 20px;
    margin-left: 20px;
}

.initial-overlay-button > img {
    width: 20px;
    margin-left: 20px;
}

.initial-overlay > h1 {
    text-transform: uppercase;
    font-size: clamp(.4em, 8vw, 8rem);
}

.initial-overlay.-visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }
}